<section class="section about" id="about">
  <div class="container">
    <h2 class="h2 section-title has-underline">
      Sobre Shantall Zarai
      <span class="span has-before"></span>
    </h2>
    <p class="section-text">
      Shantall Zarai es Licenciada en Ciencias de la comunicación, especialista en marketing digital. Co-fundadora de Adis, ha trabajado con numerosas empresas para mejorar su presencia en línea y aumentar sus
      conversiones.
    </p>
    <p class="section-text">
      Con habilidades en creación de contenido, SEO, SEM, y gestión de campañas
      publicitarias, Shantall ha demostrado ser una líder en su campo. Su pasión por la comunicación y el marketing la ha llevado a obtener múltiples certificaciones y reconocimientos.
    </p>
  </div>
</section>
