<section class="section achievement" id="achievements" aria-label="achievement">
  <div class="container">

    <p class="section-subtitle">Logros</p>

    <h2 class="h2 section-title has-underline">
      Reconocimientos y Premios
      <span class="span has-before"></span>
    </h2>

    <ul class="grid-list">

      <li>
        <div class="achievement-card">

          <figure class="card-banner img-holder" style="--width: 450; --height: 300;">
            <img src="./assets/images/achievements/best-campaign.jpg" width="450" height="300" loading="lazy"
              alt="Mejor Campaña de Marketing Digital" class="img-cover">
          </figure>

          <div class="card-content">

            <img src="./assets/images/award.svg" width="80" height="80" loading="lazy" alt="trophy" class="abs-img">

            <h3 class="h3 card-title">Mejor Campaña de Marketing Digital</h3>

            <p class="card-text">
              Premio a la mejor campaña de marketing digital en la categoría de "Innovación" por la campaña
              "CuscoTech 2023".
            </p>

          </div>

        </div>
      </li>

      <li>
        <div class="achievement-card">

          <figure class="card-banner img-holder" style="--width: 450; --height: 300;">
            <img src="./assets/images/achievements/social-media-excellence.jpg" width="450" height="300" loading="lazy"
              alt="Excelencia en Redes Sociales" class="img-cover">
          </figure>

          <div class="card-content">

            <img src="./assets/images/award.svg" width="80" height="80" loading="lazy" alt="trophy" class="abs-img">

            <h3 class="h3 card-title">Excelencia en Redes Sociales</h3>

            <p class="card-text">
              Reconocimiento a la excelencia en la gestión de redes sociales por el impacto y el crecimiento
              de la comunidad online de la ONG "Ayudando a Crecer".
            </p>

          </div>

        </div>
      </li>

      <li>
        <div class="achievement-card">

          <figure class="card-banner img-holder" style="--width: 450; --height: 300;">
            <img src="./assets/images/achievements/content-marketing-award.jpg" width="450" height="300" loading="lazy"
              alt="Premio al Mejor Contenido" class="img-cover">
          </figure>

          <div class="card-content">

            <img src="./assets/images/award.svg" width="80" height="80" loading="lazy" alt="trophy" class="abs-img">

            <h3 class="h3 card-title">Premio al Mejor Contenido</h3>

            <p class="card-text">
              Galardonada con el premio al mejor contenido en la categoría de "Concientización Social" por la
              campaña "Z".
            </p>

          </div>

        </div>
      </li>

    </ul>

  </div>
</section>