      <!-- 
        - #AUTHOR
      -->

      <section class="section author" id="author">
        <div class="container">

          <figure class="author-banner img-holder" style="--width: 700; --height: 720;">
            <img src="./assets/images/author-banner.png" width="700" height="720" loading="lazy" alt="Shantall Zarai"
              class="img-cover">
          </figure>

          <div class="author-content">

            <p class="section-subtitle">Sobre mí</p>

            <h2 class="h2 section-title">Shantall Zarai</h2>

            <p class="author-name">:</p>

            <div class="section-text">
              Soy una estudiante apasionada de Ciencias de la Comunicación con un fuerte interés en el mundo de las Relaciones Públicas y el Marketing. Mi sólida formación académica combinada con mi entusiasmo por la comunicación estratégica me impulsa a buscar oportunidades de prácticas profesionales para aplicar y ampliar mis conocimientos. Estoy deseando contribuir con creatividad y compromiso a un entorno de trabajo dinámico en el campo de las Relaciones Públicas y el Marketing.
            </div>

          </div>

        </div>
      </section>