<section class="section benefits" id="benefits" aria-label="benefits">
  <div class="container">

    <div class="grid-list">

      <li class="benefits-content">
        <h2 class="h2 section-title">¿Qué lograrás con mis servicios?</h2>

        <p class="section-text">
          Te ayudaré a alcanzar tus objetivos de marketing y comunicación, impulsando el crecimiento de tu negocio o proyecto.
        </p>
      </li>

      <li>
        <div class="benefits-card has-before has-after">

          <div class="card-icon">
            <img src="./assets/images/benefits/crecimiento.svg" width="40" height="40" loading="lazy"
              alt="Crecimiento">
          </div>

          <h3 class="h3 card-title">Crecimiento</h3>

          <p class="card-text">
            Aumenta tu visibilidad online, atrae a más clientes potenciales y genera un mayor impacto con estrategias
            de marketing digital efectivas.
          </p>

          <a href="#contact" class="btn-link">
            <span class="span">Contáctame</span>
            <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
          </a>

        </div>
      </li>

      <li>
        <div class="benefits-card has-before has-after">
          <div class="card-icon">
            <img src="./assets/images/benefits/engagement.svg" width="40" height="40" loading="lazy"
              alt="Engagement">
          </div>
          <h3 class="h3 card-title">Engagement</h3>
          <p class="card-text">
            Conecta con tu audiencia a través de contenido atractivo y relevante, construyendo relaciones sólidas y
            aumentando la fidelización.
          </p>
          <a href="#contact" class="btn-link">
            <span class="span">Contáctame</span>
            <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
          </a>
        </div>
      </li>

      <li>
        <div class="benefits-card has-before has-after">
          <div class="card-icon">
            <img src="./assets/images/benefits/resultados.svg" width="40" height="40" loading="lazy"
              alt="Resultados">
          </div>
          <h3 class="h3 card-title">Resultados</h3>
          <p class="card-text">
            Obtén resultados medibles y significativos con estrategias de marketing y comunicación orientadas a
            alcanzar tus objetivos de negocio.
          </p>
          <a href="#contact" class="btn-link">
            <span class="span">Contáctame</span>
            <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
          </a>
        </div>
      </li>

      <li>
        <div class="benefits-card has-before has-after">
          <div class="card-icon">
            <img src="./assets/images/benefits/posicionamiento.svg" width="40" height="40" loading="lazy"
              alt="Posicionamiento">
          </div>
          <h3 class="h3 card-title">Posicionamiento</h3>
          <p class="card-text">
            Destaca frente a tu competencia y construye una imagen de marca sólida y reconocida en el mercado.
          </p>
          <a href="#contact" class="btn-link">
            <span class="span">Contáctame</span>
            <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
          </a>
        </div>
      </li>

      <li>
        <div class="benefits-card has-before has-after">
          <div class="card-icon">
            <img src="./assets/images/benefits/creatividad.svg" width="40" height="40" loading="lazy"
              alt="Creatividad">
          </div>
          <h3 class="h3 card-title">Creatividad</h3>
          <p class="card-text">
            Desarrolla campañas de marketing y comunicación innovadoras y creativas que capturen la atención de tu
            audiencia y generen un impacto duradero.
          </p>
          <a href="#contact" class="btn-link">
            <span class="span">Contáctame</span>
            <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
          </a>
        </div>
      </li>

      <li>
        <div class="benefits-card has-before has-after">
          <div class="card-icon">
            <img src="./assets/images/benefits/planificacion.svg" width="40" height="40" loading="lazy"
              alt="Planificación">
          </div>
          <h3 class="h3 card-title">Planificación</h3>
          <p class="card-text">
            Define objetivos claros y establece un plan estratégico de marketing y comunicación para alcanzar tus
            metas de negocio de manera efectiva.
          </p>
          <a href="#contact" class="btn-link">
            <span class="span">Contáctame</span>
            <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
          </a>
        </div>
      </li>
    </div>
  </div>
</section>