<section class="section certifications" id="certifications">
    <div class="container">
      <h2 class="h2 section-title has-underline">
        Certificaciones
        <span class="span has-before"></span>
      </h2>
      <ul class="grid-list">
        <li>
          <div class="cert-card">
            <img src="./assets/images/certs/google-ads.png" alt="Google Ads" />
            <h4>Certificaci贸n en Google Ads</h4>
            <p>Google</p>
          </div>
        </li>
        <li>
          <div class="cert-card">
            <img src="./assets/images/certs/google-analytics.png" alt="Google Analytics" />
            <h4>Certificaci贸n en Google Analytics</h4>
            <p>Google</p>
          </div>
        </li>
        <li>
          <div class="cert-card">
            <img src="./assets/images/certs/hubspot-inbound-marketing.png" alt="HubSpot Inbound Marketing" />
            <h4>Certificaci贸n en Inbound Marketing</h4>
            <p>HubSpot</p>
          </div>
        </li>
        <li>
          <div class="cert-card">
            <img src="./assets/images/certs/meta-certified-digital-marketing-associate.png"
              alt="Meta Certified Digital Marketing Associate" />
            <h4>Certificaci贸n en Meta Certified Digital Marketing Associate</h4>
            <p>Meta</p>
          </div>
        </li>
      </ul>
    </div>
  </section>