<section class="section chapters" id="chapters">
    <div class="container">
  
      <p class="section-subtitle">Áreas de Conocimiento</p>
  
      <h2 class="h2 section-title has-underline">
        Explora mi experiencia
        <span class="span has-before"></span>
      </h2>
  
      <ul class="grid-list">
  
        <li>
          <div class="chapter-card">
  
            <p class="card-subtitle">01</p>
  
            <h3 class="h3 card-title">Marketing Digital</h3>
  
            <p class="card-text">
              Estrategias digitales integrales que abarcan SEO, SEM, redes sociales, email marketing y análisis de datos para impulsar el crecimiento online.
            </p>
  
          </div>
        </li>
  
        <li>
          <div class="chapter-card">
  
            <p class="card-subtitle">02</p>
  
            <h3 class="h3 card-title">Creación de Contenido</h3>
  
            <p class="card-text">
              Contenido atractivo y de alta calidad que incluye redacción creativa, diseño gráfico, producción audiovisual y gestión de redes sociales.
            </p>
  
          </div>
        </li>
  
        <li>
          <div class="chapter-card">
  
            <p class="card-subtitle">03</p>
  
            <h3 class="h3 card-title">Comunicación Estratégica</h3>
  
            <p class="card-text">
              Planificación y ejecución de estrategias de comunicación efectivas para construir una imagen de marca sólida y alcanzar los objetivos de comunicación.
            </p>
  
          </div>
        </li>
  
        <li>
          <div class="chapter-card">
  
            <p class="card-subtitle">04</p>
  
            <h3 class="h3 card-title">Relaciones Públicas</h3>
  
            <p class="card-text">
              Gestión de relaciones con medios de comunicación, líderes de opinión y stakeholders clave para construir una imagen positiva y generar confianza.
            </p>
  
          </div>
        </li>
  
        <li>
          <div class="chapter-card">
  
            <p class="card-subtitle">05</p>
  
            <h3 class="h3 card-title">Marketing de Contenidos</h3>
  
            <p class="card-text">
              Creación y distribución de contenido relevante y valioso para atraer y fidelizar a la audiencia, generando leads y conversiones.
            </p>
  
          </div>
        </li>
  
        <li>
          <div class="chapter-card">
  
            <p class="card-subtitle">06</p>
  
            <h3 class="h3 card-title">Social Media Marketing</h3>
  
            <p class="card-text">
              Gestión de redes sociales, creación de comunidades online y desarrollo de estrategias de social media para aumentar la visibilidad y el engagement.
            </p>
  
          </div>
        </li>
  
      </ul>
  
    </div>
  </section>