<!-- 
        - #CONTACT
      -->

<section class="section contact" id="contact" aria-label="contact">
  <div class="container">
    <p class="section-subtitle">Contacto</p>

    <h2 class="h2 section-title has-underline">
      Escríbeme algo...
      <span class="span has-before"></span>
    </h2>

    <div class="wrapper">
      <form action="" class="contact-form">
        <input
          type="text"
          name="name"
          placeholder="Tu Nombre"
          required
          class="input-field"
        />

        <input
          type="email"
          name="email_address"
          placeholder="Tu Correo"
          required
          class="input-field"
        />

        <input
          type="text"
          name="subject"
          placeholder="Asunto"
          required
          class="input-field"
        />

        <textarea
          name="message"
          placeholder="Tu Mensaje"
          class="input-field"
        ></textarea>

        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>

      <ul class="contact-card">
        <li>
          <p class="card-title">Dirección:</p>

          <address class="address">
            Latam <br />
            Cusco, Perú
          </address>
        </li>

        <li>
          <p class="card-title">Celular:</p>

          <a href="tel:990551461" class="card-link">+51 990 551 461</a>
        </li>

        <li>
          <p class="card-title">Correo:</p>

          <a href="mailto:ShantallZaraii@gmail.com" class="card-link"
            >ShantallZaraii@gmail.com</a
          >
        </li>

        <li>
          <p class="social-list-title h3">
            Mira mi contenido en mis redes sociales:
          </p>

          <ul class="social-list">
            <li>
              <a href="https://facebook.com/ShantallZarai" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="https://twitter.com/ShantallZarai" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a
                href="https://linkedin.com/in/ShantallZarai"
                class="social-link"
              >
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li>
              <a href="https://youtube.com/ShantallZarai" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

            <li>
              <a href="https://wa.me/990551461" class="social-link">
                <ion-icon name="logo-whatsapp"></ion-icon>
              </a>
            </li>
            <li>
              <a href="https://instagram.com/ShantallZarai" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
            <li>
              <a href="https://pinterest.com/ShantallZarai" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>
            <li>
              <a href="https://tiktok.com/ShantallZarai" class="social-link">
                <ion-icon name="logo-tiktok"></ion-icon>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>