<section class="section experience" id="experience">
  <div class="container">
    <h2 class="h2 section-title has-underline">
      Mi Experiencia Profesional
      <span class="span has-before"></span>
    </h2>

    <ul class="grid-list">

      <li>
        <div class="experience-card">
          <p class="card-subtitle">2022 - Presente</p>
          <h3 class="h3 card-title">Chief Marketing Officer - PublicAdis</h3>
          <ul class="card-list">
            <li class="card-item">
              <p class="card-text">
                Liderazgo en el desarrollo e implementación de estrategias de marketing digital multiplataforma,
                alcanzando un incremento del 150% en el *engagement* y un 200% en las conversiones.
              </p>
            </li>
            <li class="card-item">
              <p class="card-text">
                Gestión de equipos de alto rendimiento y desarrollo de estrategias de contenido exitosas
                para más de 20 clientes de diversos sectores.
              </p>
            </li>
            <li class="card-item">
              <p class="card-text">
                Implementación de metodologías ágiles y herramientas de análisis de datos para la optimización
                continua de las campañas y la mejora del ROI.
              </p>
            </li>
          </ul>
        </div>
      </li>

      <li>
        <div class="experience-card">
          <p class="card-subtitle">2020 - 2022</p>
          <h3 class="h3 card-title">Marketing Manager - Agencia Digital Perú</h3>
          <ul class="card-list">
            <li class="card-item">
              <p class="card-text">
                Gestión integral de proyectos de marketing digital, desde la planificación estratégica hasta la ejecución
                y el análisis de resultados.
              </p>
            </li>
            <li class="card-item">
              <p class="card-text">
                Desarrollo y gestión de campañas de publicidad online (PPC y redes sociales), optimizando el ROI
                y maximizando el alcance.
              </p>
            </li>
            <li class="card-item">
              <p class="card-text">
                Liderazgo y coordinación de equipos creativos, garantizando la entrega de proyectos de alta calidad
                y cumpliendo con los plazos establecidos.
              </p>
            </li>
          </ul>
        </div>
      </li>

      <li>
        <div class="experience-card">
          <p class="card-subtitle">2018 - 2020</p>
          <h3 class="h3 card-title">Asistente de Marketing - Empresa de Consumo Masivo</h3>
          <ul class="card-list">
            <li class="card-item">
              <p class="card-text">
                Apoyo en la implementación de estrategias de marketing y comunicación, incluyendo la creación de contenido,
                la gestión de redes sociales y la organización de eventos.
              </p>
            </li>
            <li class="card-item">
              <p class="card-text">
                Análisis de datos de mercado y competencia, identificación de oportunidades y elaboración de informes
                para la toma de decisiones.
              </p>
            </li>
            <li class="card-item">
              <p class="card-text">
                Participación en el desarrollo y ejecución de campañas de lanzamiento de productos, contribuyendo al
                aumento de la visibilidad de marca y las ventas.
              </p>
            </li>
          </ul>
        </div>
      </li>

    </ul>

  </div>
</section>