  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <div class="footer-top">

        <a href="#" class="logo">Shantall Zarai</a>

        <ul class="footer-list">

          <li>
            <a href="#" class="footer-link">Inicio</a>
          </li>

          <li>
            <a href="#" class="footer-link">Beneficios</a>
          </li>

          <li>
            <a href="#" class="footer-link">Capítulos</a>
          </li>

          <li>
            <a href="#" class="footer-link">Precios</a>
          </li>

          <li>
            <a href="#" class="footer-link">Sobre mí</a>
          </li>

          <li>
            <a href="#" class="footer-link">Logros</a>
          </li>

          <li>
            <a href="#" class="footer-link">Reviews</a>
          </li>

          <li>
            <a href="#" class="footer-link">Contacto</a>
          </li>

        </ul>

      </div>

      <div class="footer-bottom">
        <p class="copyright">
          &copy; Hecho con ❤ por Shantall Zarai Ascue Valdez
        </p>
      </div>

    </div>
  </footer>