<section class="section portfolio" id="portfolio">
    <div class="container">
      <h2 class="h2 section-title has-underline">
        Proyectos Destacados
        <span class="span has-before"></span>
      </h2>
      <ul class="grid-list">
        <li>
          <div class="project-card">
            <h3 class="h3 card-title">Campaña de Marketing Digital - Empresa X</h3>
            <p class="card-text">
              Desarrollo e implementación de una estrategia integral de marketing digital para la Empresa X, 
              logrando un aumento del 20% en las conversiones y un 15% en el tráfico web en 3 meses.
            </p>
            <img src="./assets/images/projects/empresa-x-campaign.jpg" alt="Campaña de Marketing Digital - Empresa X"
              class="project-img" />
          </div>
        </li>
        <li>
          <div class="project-card">
            <h3 class="h3 card-title">Gestión de Redes Sociales - ONG "Ayudando a Crecer"</h3>
            <p class="card-text">
              Gestión de las redes sociales de la ONG "Ayudando a Crecer", incluyendo la creación de contenido, 
              la interacción con la comunidad y el análisis de métricas. Se logró un aumento del 30% en el número de seguidores 
              y un 20% en el engagement en 6 meses.
            </p>
            <img src="./assets/images/projects/ong-social-media.jpg" alt="Gestión de Redes Sociales - ONG Ayudando a Crecer"
              class="project-img" />
          </div>
        </li>
        <li>
          <div class="project-card">
            <h3 class="h3 card-title">Relaciones Públicas - Lanzamiento de producto "Innovación Y"</h3>
            <p class="card-text">
              Planificación y ejecución de la estrategia de relaciones públicas para el lanzamiento del producto "Innovación Y", 
              generando cobertura en medios de comunicación y creando una estrategia de comunicación efectiva para el público objetivo.
            </p>
            <img src="./assets/images/projects/product-launch-pr.jpg"
              alt="Relaciones Públicas - Lanzamiento de producto Innovación Y" class="project-img" />
          </div>
        </li>
        <li>
          <div class="project-card">
            <h3 class="h3 card-title">Producción de contenido - Campaña de concientización "Z"</h3>
            <p class="card-text">
              Creación de contenido multimedia para la campaña de concientización "Z", incluyendo videos, artículos, 
              infografías y publicaciones en redes sociales. Se logró un alcance de más de 100,000 personas y un aumento del 15% 
              en el conocimiento sobre el tema de la campaña.
            </p>
            <img src="./assets/images/projects/content-creation-campaign.jpg"
              alt="Producción de contenido - Campaña de concientización Z" class="project-img" />
          </div>
        </li>
      </ul>
    </div>
  </section>