      <!-- 
        - #PREVIEW
      -->

      <section class="section preview" aria-label="preview">
        <div class="container">

          <p class="section-subtitle">Project Preview</p>

          <h2 class="h2 section-title has-underline">
            Proyectos trabajados
            <span class="span has-before"></span>
          </h2>

          <ul class="tab-list">

            <li>
              <div class="tab-card active" data-tab-card>
                <h3 class="h3 tab-text">Project 1</h3>

                <img src="./assets/images/preview-1.png" width="820" height="630" loading="lazy" alt="Project 1"
                  class="w-100">
              </div>
            </li>

            <li>
              <div class="tab-card" data-tab-card>
                <h3 class="h3 tab-text">Project 2</h3>

                <img src="./assets/images/preview-2.png" width="820" height="630" loading="lazy" alt="Project 2"
                  class="w-100">
              </div>
            </li>

            <li>
              <div class="tab-card" data-tab-card>
                <h3 class="h3 tab-text">Project 3</h3>

                <img src="./assets/images/preview-3.png" width="820" height="630" loading="lazy" alt="Project 3"
                  class="w-100">
              </div>
            </li>

            <li>
              <div class="tab-card" data-tab-card>
                <h3 class="h3 tab-text">Project 4</h3>

                <img src="./assets/images/preview-4.png" width="820" height="630" loading="lazy" alt="Project 4"
                  class="w-100">
              </div>
            </li>

            <li>
              <div class="tab-card" data-tab-card>
                <h3 class="h3 tab-text">Project 5</h3>

                <img src="./assets/images/preview-5.png" width="820" height="630" loading="lazy" alt="Project 5"
                  class="w-100">
              </div>
            </li>

          </ul>

        </div>
      </section>