<section class="section pricing" id="pricing" aria-label="pricing">
  <div class="container">

    <p class="section-subtitle">Servicios</p>

    <h2 class="h2 section-title has-underline">
      ¿Qué puedo hacer por ti?
      <span class="span has-before"></span>
    </h2>

    <ul class="grid-list">

      <li>
        <div class="pricing-card">

          <h3 class="h3 card-title">Marketing Digital</h3>

          <ul class="pricing-card-list">

            <li class="card-item">
              <p class="card-text">Desarrollo de estrategias SEM/SEO</p>
            </li>

            <li class="card-item">
              <p class="card-text">Gestión y optimización de campañas publicitarias</p>
            </li>

            <li class="card-item">
              <p class="card-text">Análisis de datos y métricas de rendimiento</p>
            </li>

            <li class="card-item">
              <p class="card-text">Email marketing y automatización</p>
            </li>

            <li class="card-item">
              <p class="card-text">Growth Hacking</p>
            </li>

          </ul>

          <a href="#contact" class="btn btn-secondary">Contáctame</a>

        </div>
      </li>

      <li>
        <div class="pricing-card">

          <h3 class="h3 card-title">Creación de Contenido</h3>

          <ul class="pricing-card-list">

            <li class="card-item">
              <p class="card-text">Producción audiovisual (video y podcast)</p>
            </li>

            <li class="card-item">
              <p class="card-text">Diseño gráfico y branding</p>
            </li>

            <li class="card-item">
              <p class="card-text">Copywriting y redacción creativa</p>
            </li>

            <li class="card-item">
              <p class="card-text">Gestión de redes sociales</p>
            </li>

            <li class="card-item">
              <p class="card-text">Desarrollo de storytelling</p>
            </li>

          </ul>

          <a href="#contact" class="btn btn-secondary">Contáctame</a>

        </div>
      </li>

      <li>
        <div class="pricing-card">

          <h3 class="h3 card-title">Consultoría y Asesoría</h3>

          <ul class="pricing-card-list">

            <li class="card-item">
              <p class="card-text">Asesoría en marketing digital</p>
            </li>

            <li class="card-item">
              <p class="card-text">Consultoría en comunicación y estrategia</p>
            </li>

            <li class="card-item">
              <p class="card-text">Desarrollo de planes de marketing y comunicación</p>
            </li>

            <li class="card-item">
              <p class="card-text">Análisis de mercado y competencia</p>
            </li>

          </ul>

          <a href="#contact" class="btn btn-secondary">Contáctame</a>

        </div>
      </li>

    </ul>

  </div>
</section>