<section class="section projects" id="projects">
  <div class="container">
    <p class="section-subtitle">Portfolio</p>
    <h2 class="h2 section-title has-underline">
      Proyectos Destacados
      <span class="span has-before"></span>
    </h2>

    <ul class="project-list">
      <li class="project-card active" data-project-card>
        <div class="project-content">
          <h3 class="h3 project-title">Campaña Digital - CuscoTech 2023</h3>
          <p class="project-text">
            Estrategia integral de marketing para el evento tech más grande de
            Cusco. Resultados: +5000 asistentes, 300% ROI, trending topic en
            Twitter.
          </p>
          <img
            src="./assets/images/projects/cuscotech.jpg"
            alt="CuscoTech 2023"
            class="project-img"
          />
        </div>
      </li>
      <li class="project-card">
        <div class="project-content">
          <h3 class="h3 project-title">Landing Page - InnovaTech</h3>
          <p class="project-text">
            Diseño y desarrollo de una landing page atractiva y funcional para
            InnovaTech, una empresa líder en tecnología. Resultados: +20% de
            conversiones, aumento de leads.
          </p>
          <img
            src="./assets/images/projects/innovaTech_landing_page.jpg"
            alt="InnovaTech Landing Page"
            class="project-img"
          />
        </div>
      </li>
      <li class="project-card">
        <div class="project-content">
          <h3 class="h3 project-title">Redes Sociales - CreativaStudio</h3>
          <p class="project-text">
            Gestión de redes sociales para CreativaStudio, agencia de diseño y
            marketing. Resultados: aumento de seguidores, engagement y tráfico
            web.
          </p>
          <img
            src="./assets/images/projects/creativaStudio_social_media.jpg"
            alt="CreativaStudio Social Media"
            class="project-img"
          />
        </div>
      </li>
      <li class="project-card">
        <div class="project-content">
          <h3 class="h3 project-title">E-commerce - GlobalSolutions</h3>
          <p class="project-text">
            Desarrollo y lanzamiento de una tienda online para GlobalSolutions,
            empresa de productos electrónicos. Resultados: +30% de ventas,
            mejora en la experiencia de usuario.
          </p>
          <img
            src="./assets/images/projects/globalSolutions_e_commerce.jpg"
            alt="GlobalSolutions E-commerce"
            class="project-img"
          />
        </div>
      </li>
    </ul>
  </div>
</section>