<section class="section skills" id="skills">
    <div class="container">
        <h2 class="h2 section-title has-underline">
            Áreas de Especialización
            <span class="span has-before"></span>
        </h2>
        <ul class="grid-list">
            <li>
                <div class="skills-card">
                    <div class="card-icon"> <i class="fas fa-chart-line"></i> </div>
                    <h3 class="h3 card-title">Marketing Digital</h3>
                    <p class="card-text">
                        Estrategias SEM/SEO, análisis de datos, gestión de campañas
                        publicitarias, optimización de conversión, email marketing, marketing de contenidos,  growth hacking.
                    </p>
                    <div class="skills-progress">
                        <div class="progress-bar" style="width: 95%;"></div> </div>
                </div>
            </li>
            <li>
                <div class="skills-card">
                   <div class="card-icon"> <i class="fas fa-pen-nib"></i> </div>
                    <h3 class="h3 card-title">Creación de Contenido</h3>
                    <p class="card-text">
                        Producción audiovisual, diseño gráfico, copywriting, gestión de
                        redes sociales, storytelling,  redacción creativa, podcasting.
                    </p>
                     <div class="skills-progress">
                        <div class="progress-bar" style="width: 90%;"></div> </div>
                </div>
            </li>
            <li>
                <div class="skills-card">
                    <div class="card-icon"> <i class="fas fa-code"></i> </div>
                    <h3 class="h3 card-title">Desarrollo Web</h3>
                    <p class="card-text">
                        HTML, CSS, JavaScript, frameworks (React, Angular), diseño responsive,  UX/UI, testing.
                    </p>
                     <div class="skills-progress">
                        <div class="progress-bar" style="width: 80%;"></div> </div>
                </div>
            </li>
            <li>
                <div class="skills-card">
                    <div class="card-icon"> <i class="fas fa-bullhorn"></i> </div>
                    <h3 class="h3 card-title">Comunicación</h3>
                    <p class="card-text">
                        Comunicación interpersonal, comunicación escrita, oratoria, negociación,  presentaciones efectivas,  public speaking.
                    </p>
                     <div class="skills-progress">
                        <div class="progress-bar" style="width: 85%;"></div> </div>
                </div>
            </li>
            <li>
                <div class="skills-card">
                   <div class="card-icon"> <i class="fas fa-lightbulb"></i> </div>
                    <h3 class="h3 card-title">Pensamiento Estratégico</h3>
                    <p class="card-text">
                        Análisis de problemas, resolución de problemas, pensamiento crítico,  planificación estratégica,  innovación,  creatividad.
                    </p>
                     <div class="skills-progress">
                        <div class="progress-bar" style="width: 92%;"></div> </div>
                </div>
            </li>
        </ul>
    </div>
</section>