<section class="section testimonials" id="testimonials">
    <div class="container">
        <h2 class="h2 section-title has-underline">
            Testimonios
            <span class="span has-before"></span>
        </h2>
        <ul class="grid-list">
            <li>
                <div class="testimonial-card">
                    <p class="card-text">
                        "Shantall es una profesional increíble. Su conocimiento en marketing
                        digital y su capacidad para ejecutar estrategias efectivas han sido
                        fundamentales para el éxito de nuestras campañas."
                    </p>
                    <div class="card-meta">
                        <p class="card-author">- Cliente Satisfecho, Empresa X</p>
                        <div class="card-rating">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="testimonial-card">
                    <p class="card-text">
                        "Su creatividad y atención al detalle son excepcionales.  Shantall siempre encuentra
                        la manera de superar nuestras expectativas y entregar resultados sobresalientes."
                    </p>
                    <div class="card-meta">
                        <p class="card-author">- María García, Directora de Marketing</p>
                        <div class="card-rating">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="far fa-star"></span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="testimonial-card">
                    <p class="card-text">
                        "Recomiendo ampliamente a Shantall para cualquier empresa que busque mejorar su presencia en
                        línea. Su profesionalismo y dedicación son incomparables."
                    </p>
                    <div class="card-meta">
                        <p class="card-author">- Carlos López, Fundador de CreativaStudio</p>
                        <div class="card-rating">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="testimonial-card">
                    <p class="card-text">
                        "Shantall ha sido una pieza clave en el crecimiento de nuestra marca.  Su estrategia de
                        marketing digital ha generado un aumento significativo en nuestras ventas y
                        reconocimiento de marca."
                    </p>
                    <div class="card-meta">
                        <p class="card-author">- Ana Rodríguez, Gerente de Ventas</p>
                        <div class="card-rating">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="far fa-star"></span>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</section>